workflow:
  rules:
    - if: $CI_COMMIT_REF_PROTECTED == "true"
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

stages:
  - test
  - release

variables:
  # We have to disable sigstore for now since NPM currently only supports
  # provenance when publishing from a gitlab-hosted runner. Hopefully we can
  # enable this in the future once they drop this limitation (which should be
  # possible since PyPI has no such limitation on their use of sigstore).
  NPM_CONFIG_PROVENANCE: "false"

cache:
  key: "$CI_PROJECT_NAME"
  paths:
    - node_modules

include:
  - component: gitlab.com/thelabnyc/thelab-ci-components/review@0.6.1
  - component: gitlab.com/thelabnyc/thelab-ci-components/precommit@0.6.1
    inputs:
      image: registry.gitlab.com/thelabnyc/python:3.14-node24@sha256:8b51f96bee99e30168892fd1eea9c97210aded569483c523dc0207e9b6179d98
  - component: gitlab.com/thelabnyc/thelab-ci-components/publish-gitlab-release@0.6.1
  - component: gitlab.com/thelabnyc/thelab-ci-components/publish-to-npm@0.6.1

test:
  stage: test
  image: "${IMAGE}"
  script:
    - npm ci
    - npm run lint
    - npm run build
  parallel:
    matrix:
      - IMAGE: node:22
      - IMAGE: node:24
