stages:
  - test
  - release

variables:
  # We have to disable sigstore for now since NPM currently only supports
  # provenance when publishing from a gitlab-hosted runner. Hopefully we can
  # enable this in the future once they drop this limitation (which should be
  # possible since PyPI has no such limitation on their use of sigstore).
  NPM_CONFIG_PROVENANCE: "false"

cache:
  key: "$CI_PROJECT_NAME"
  paths:
    - node_modules

include:
  - component: gitlab.com/thelabnyc/thelab-ci-components/precommit@0.5.1
    inputs:
      image: registry.gitlab.com/thelabnyc/python:3.13.1100-node24@sha256:56c524f5e80876384843f4a82e321df98ea3f035d0f7443a65edcb85e6130b6e
  - component: gitlab.com/thelabnyc/thelab-ci-components/publish-gitlab-release@0.5.1
  - component: gitlab.com/thelabnyc/thelab-ci-components/publish-to-npm@0.5.1

test:
  stage: test
  image: "${IMAGE}"
  script:
    - npm ci
    - npm run lint
    - npm run build
  parallel:
    matrix:
      - IMAGE: node:22
      - IMAGE: node:24
